<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CarTax PRO</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                Начало
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/calculator">
                Калкулатор
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/savedcars">
                Запазени коли
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/statistics">
                Статистика
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/about">
                За нас
            </NavLink>
        </div>
    </nav>
</div>